<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
        >
          Menu
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if(typeof Individual !== 'undefined'){ %>
          <li>
            <a class="dropdown-item" href="/Home?IndividualId=<%=Individual.IndividualId%>">Home</a>
          </li>
          <li>
            <a class="dropdown-item" href="/MeetEvents?IndividualId=<%=Individual.IndividualId%>">Meet Events</a>
          </li>
          <li>
            <a class="dropdown-item" href="/CreateTeam?IndividualId=<%=Individual.IndividualId%>">Start a Team</a>
          </li>
          <!--<li>
            <a class="dropdown-item" href="/MyEventList?IndividualId=<%=Individual.IndividualId%>">My Events</a>
          </li>-->
          <% if(Individual.IsAdmin){%>
          <!--<li>
            <a class="dropdown-item" href="/MeetEvents?IndividualId=<%=Individual.IndividualId%>">Meets (coming soon)</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Event Definitions (coming soon)</a>
          </li>-->
          <li>
            <a class="dropdown-item" href="#">Configure Heats (coming soon)</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Reports (coming soon)</a>
          </li>
          <%}%>
          <%} else {%>
          <li>
            <a class="dropdown-item" href="/Login">Login</a>
          </li>
          <li>
            <a class="dropdown-item" href="/Register">Register</a>
          </li>
          <%}%>

        </ul>
      </li>
    </ul>
    <div class="d-flex align-items-center">

      <!-- User -->
      <%if (typeof Individual !== 'undefined') {%>
        <a
                class="dropdown-toggle d-flex align-items-center hidden-arrow"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
        >
          <%= Individual.FirstName %> <%= Individual.LastName %>
        </a>
        <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="/MyIndividualEvents?IndividualId=<%=Individual.IndividualId%>">My Individual Events</a>
          </li>
          <li>
            <a class="dropdown-item" href="/MyTeamEvents?IndividualId=<%=Individual.IndividualId%>">My Team Events</a>
          </li>
          <li>
            <a class="dropdown-item" href="/MyTeams?IndividualId=<%=Individual.IndividualId%>">My Teams</a>
          </li>
          <li>
            <a class="dropdown-item" href="/Login">Logout</a>
          </li>
        </ul>
      <%}%>
      <!-- User -->
    </div>
  </div>
</nav>
<!-- Navbar -->
