<!DOCTYPE html>
<html>
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="bg-image p-5 text-center shadow-2-strong rounded mb-5 text-black"
         style="background-image: url('/img/swim-lanes.gif');" >
      <div class="container-fluid">
        <div class = "row">
          <h2 class="mb-3">
                                    <span class="col-sm-6">
                                    Lakewood Fun Meet:
                                    </span>
            <span class="col-sm-6">
                                         Create a Team
                                    </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <form id="frmCreateTeam" action="/CreateTeam" method="post" autocomplete="off" onsubmit="submitScript(e);">
        <div class="row d-flex justify-content-center ">
          <div class="col-9">
              <div class="form-outline">
              <%if(typeof TeamName !== 'undefined' && TeamName !== ''){%>
                <input type="text" id="TeamName" name="TeamName" class="form-control" required value="<%=TeamName%>" />
              <%}else{%>
                <input type="text" id="TeamName" name="TeamName" class="form-control" required
                       data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="If you don't have a spiffy name, just list your first names."/>
              <%}%>
              <label class="form-label" for="TeamName">Team Name</label>
            </div>
          </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center ">
          <div class="col-9">
            <div class="form-outline">
              <%if(typeof TeamTaunt !== 'undefined' && TeamTaunt !== ''){%>
                <input type="text" id="TeamTaunt" name="TeamTaunt" class="form-control" value="<%=TeamTaunt%>" />
              <%} else {%>
                <input type="text" id="TeamTaunt" name="TeamTaunt" class="form-control" data-mdb-toggle="tooltip"
                       data-mdb-placement="bottom" title="Eat our bubbles, etc..."/>
              <%}%>
              <label class="form-label" for="TeamTaunt">Battle Cry! (optional)</label>
            </div>
          </div>
        </div>
        <hr class="divider-horizontal-blurry" />
        <div class="row justify-content-center ">
            <div class="col-auto">
                <p>Captain:</p>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-ninja fa-lg"></i></span>
                    <select name="SelectedIndividualIds" id="TeamMate1" class="form-control" contenteditable="false">
                        <option value="<%=Individual.IndividualId%>" selected >
                            <%=Individual.FirstName%> <%=Individual.LastName%>
                        </option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="TeamCaptainFirstName" value="<%=Individual.FirstName%>">
            <input type="hidden" name="TeamCaptainLastName" value="<%=Individual.LastName%>">
        </div>
        <br>
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <button type="button" class="btn btn-warning btn-block mb-4" data-mdb-toggle="modal" data-mdb-target="#captainModal">
              Ready to be a Team Captain?
            </button>
            <div class="modal fade" id="captainModal" tabindex="-1" aria-labelledby="captainModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="captainModalLabel">Ready to be a Team Captain?</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Once created, you will be the team's Captain and will register your team for events.</p>
                    <ul>
                      <li><b>Swimmers must already be registered</b> for you to add them to your team.</li>
                      <li>First & last names must be <b>spelled as they were registered</b> to be added. </li>
                      <li>Create team(s) with the right number of members (typically 4 or 6) for the event(s) you plan on competing in.
                        <b>Captains swim too!</b></li>
                      <li>Make sure you have others' permission to be on your team, since <b>it could obligate them to
                          (additional) donations.</b></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal" >I got this !</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-horizontal-blurry" />
        <%if (typeof Individuals !== 'undefined') {%>
            <p>Additional Members:</p>
            <div class="row justify-content-evenly ">
              <div class="col-auto mb-3">
                  <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user-check fa-lg"></i></span>
                      <select name="SelectedIndividualIds" id="TeamMate1" >
                          <option disabled value="0"
                                  <% if (typeof SelectedIndividualIds === "undefined" || parseInt(SelectedIndividualIds[1]) === 0) {%> selected<%}%>>
                              Pick a swimmer...</option>
                          <% for ( var lcv =0; lcv < Individuals.length; lcv++ ){%>
                          <option value="<%=Individuals[lcv].IndividualId%>"
                                  <% if (typeof SelectedIndividualIds !== "undefined" && parseInt(SelectedIndividualIds[1]) === Individuals[lcv].IndividualId) {%>selected<%}%>>
                              <%=Individuals[lcv].FirstName%> <%=Individuals[lcv].LastName%></option>
                          <% }%>
                      </select>
                  </div>
              </div>
              <div class="col-auto mb-3">
                  <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user-check fa-lg"></i></span>
                      <select name="SelectedIndividualIds" id="TeamMate2" >
                          <option disabled value="0"
                                  <% if (typeof SelectedIndividualIds === "undefined" || parseInt(SelectedIndividualIds[2]) === 0) {%> selected<%}%>>
                                    Pick a swimmer...</option>
                          <% for ( var lcv =0; lcv < Individuals.length; lcv++ ){%>
                          <option value="<%=Individuals[lcv].IndividualId%>"
                                  <% if (typeof SelectedIndividualIds !== "undefined" && parseInt(SelectedIndividualIds[2]) === Individuals[lcv].IndividualId) {%>selected<%}%>>
                              <%=Individuals[lcv].FirstName%> <%=Individuals[lcv].LastName%></option>
                          <% }%>
                      </select>
                  </div>
              </div>
              <div class="col-auto mb-3">
                  <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user-check fa-lg"></i></span>
                      <select name="SelectedIndividualIds" id="TeamMate3"  >
                          <option disabled value="0"
                                  <% if (typeof SelectedIndividualIds === "undefined" || parseInt(SelectedIndividualIds[3]) === 0) {%> selected<%}%>>
                              Pick a swimmer...</option>
                          <% for ( var lcv =0; lcv < Individuals.length; lcv++ ){%>
                          <option value="<%=Individuals[lcv].IndividualId%>"
                                  <% if (typeof SelectedIndividualIds !== "undefined" && parseInt(SelectedIndividualIds[3]) === Individuals[lcv].IndividualId) {%>selected<%}%>>
                              <%=Individuals[lcv].FirstName%> <%=Individuals[lcv].LastName%></option>
                          <% }%>
                      </select>
                  </div>
              </div>
              <div class="col-auto mb-3">
                  <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user-check fa-lg"></i></span>
                      <select name="SelectedIndividualIds" id="TeamMate4" >
                          <option disabled value="0"
                                  <% if (typeof SelectedIndividualIds === "undefined" || parseInt(SelectedIndividualIds[4]) === 0) {%> selected<%}%>>
                              Pick a swimmer...</option>
                          <% for ( var lcv =0; lcv < Individuals.length; lcv++ ){%>
                          <option value="<%=Individuals[lcv].IndividualId%>"
                                  <% if (typeof SelectedIndividualIds !== "undefined" && parseInt(SelectedIndividualIds[4]) === Individuals[lcv].IndividualId) {%>selected<%}%>>
                              <%=Individuals[lcv].FirstName%> <%=Individuals[lcv].LastName%></option>
                          <% }%>
                      </select>
                  </div>
              </div>
              <div class="col-auto mb-3">
                  <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user-check fa-lg"></i></span>
                      <select name="SelectedIndividualIds" id="TeamMate5">
                          <option disabled value="0"
                                  <% if (typeof SelectedIndividualIds === "undefined" || parseInt(SelectedIndividualIds[5]) === 0) {%> selected<%}%>>
                              Pick a swimmer...</option>
                          <% for ( var lcv =0; lcv < Individuals.length; lcv++ ){%>
                          <option value="<%=Individuals[lcv].IndividualId%>"
                                  <% if (typeof SelectedIndividualIds !== "undefined" && parseInt(SelectedIndividualIds[5]) === Individuals[lcv].IndividualId) {%>selected<%}%>>
                              <%=Individuals[lcv].FirstName%> <%=Individuals[lcv].LastName%></option>
                          <% }%>
                      </select>
                  </div>
              </div>
            </div>
        <%}%>
        <%if(typeof ValidationErrors !== 'undefined' && ValidationErrors !== ''){%>
        <div class="row d-flex justify-content-center ">
          <div class="col-12">
            <p class="credit"><%=ValidationErrors%></p>
          </div>
        </div>
        <%}%>
        <hr class="divider-horizontal-blurry" />
        <div class="row d-flex justify-content-center ">
          <div class="col-8">
            <button type="submit" class="btn btn-primary btn-block mb-4">Create Team</button>
          </div>
        </div>
      </form>
    </div>
<%- include('../partials/footer.ejs') %>
</body>
</html>