<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/scripts/register.js" type="application/javascript"></script>
</head>
<body>
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Lakewood Fun Meet<br>Event Sign Up</h2>
            <h3><%=Event.EventDescription%></h3>
            <h4><%=Event.DisplayRules%></h4>
        </div>
        <% if(Event.IsTeamEvent === true) {%>
            <% if(typeof TeamCompetitors !== 'undefined' && TeamCompetitors.length > 0) {%>
                <div class="row clearfix">
                    <span class="credit">Teams Registered:</span>
                </div>
                <% for(var lcv=0; lcv < TeamCompetitors.length; lcv++) {%>
                    <div class="row clearfix">
                        <span class="credit"><%=TeamCompetitors[lcv].TeamName%></span>
                        <%=TeamCompetitors[lcv].TeamTaunt%>
                    </div>
                <%}%>
            <%} else {%>
                <div class="row clearfix">
                    <span class="credit">
                        <p>No teams are currently registered for this event. Be the first!</p>
                    </span>
                </div>
            <%}%>
        <%} else {%>
            <% if(typeof IndividualCompetitors !== 'undefined' && IndividualCompetitors.length > 0) {%>
                <div class="row clearfix">
                    <span class="credit">Individuals Registered:</span>
                </div>
                <div class="row clearfix">
                    <ul>
                <% for(var lcv=0; lcv < IndividualCompetitors.length; lcv++) {%>
                        <li><%=IndividualCompetitors[lcv]['FirstName']%> <%=IndividualCompetitors[lcv]['LastName']%></li>
                <%}%>
                    </ul>
                </div>
            <%} else {%>
                <div class="row clearfix">
                    <span class="credit">
                        <p>No one is currently registered for this event. Be the first!</p>
                    </span>
                </div>
            <%}%>
        <%}%>
        <form id="frmEventSignUp" action="/EventSignUp" method="post" onsubmit="submitScript(e);">
            <input type="hidden" name="IndividualId" value="<%=Registrant.IndividualId%>">
            <input type="hidden" name="EventId" value="<%=Event.EventId%>">
            <input type="hidden" name="IsTeamEvent" value="<%=Event.IsTeamEvent%>">
            <input type="hidden" name="TeamCaptainId" value="<%=Registrant.IndividualId%>">
        <% if(Event.IsTeamEvent) {%>
            <% if(typeof Teams !== 'undefined') {%>
                <% if(Teams.length > 0) {%>
                    <div class="row clearfix">
                        <span class="credit">
                            <p>Pick a team to register:
                                <select name="EventTeamId" id="selEventTeam<%=lcv%>">
                                    <% for(var lcv=0; lcv < Teams.length; lcv++) {%>
                                    <option value="<%=Teams[lcv].TeamId%>"><%=Teams[lcv].TeamName%></option>
                                    <%}%>
                                </select>
                            </p>
                        </span>
                    </div>

                    <input id="btnSignUp" class="button" type="submit" value="Sign Up for Event" />
                <%} else { %>
                    <div class="row clearfix">
                        <span class="credit">
                            <a href="/CreateTeam?IndividualId=<%=Registrant.IndividualId%>">Create a team</a>
                            first to register for the event.</span>
                    </div>
                <%}%>
            <%}%>
        <%} else { %>
            <input id="btnSignUp" class="button" type="submit" value="Sign Up for Event" />
        <%}%>
        </form>
    </div>
    <br><br><br>
    <div class="row clearfix">
        <a href="/MeetEvents?IndividualId=<%=Registrant.IndividualId%>" class="col_half">
            <img src="/img/triangle-flag-small.png">
        </a>
        <a href="/Home?IndividualId=<%=Registrant.IndividualId%>">
            <img src="/img/home-small.png">
        </a>
        <a href="/Login" class="bottom_right">
            <img src="/img/square-new-window-small.png" >
        </a>
    </div>
</div>
</body>
</html>