<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/scripts/register.js" type="application/javascript"></script>
</head>
<body>
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Lakewood Fun Meet<br>All Events</h2>
            <h3><%=Meet.MeetName%></h3>
        </div>
        <div class="row clearfix">
            <div class="">
                <input type="hidden" name="IndividualId" value="<%=Individual.IndividualId%>">
                <% if(typeof Events !== 'undefined' && Events.length > 0) {%>
                    <div class="row clearfix">
                        <p class="credit">Click any Event you are interested in signing up for.</p>
                    </div><% for(var lcv=0; lcv < Events.length; lcv++) {%>
                        <div class="row clearfix">
                    <span class="credit">
                        <% if(Events[lcv].IsTeamEvent === true) {%>
                        <img src="/img/team-small.png" class="form_icon">
                        <%} else {%>
                        <img src="/img/user-small.png" class="form_icon">
                        <%}%>
                        <a href="/EventSignUp?EventId=<%=Events[lcv].EventId%>&IndividualId=<%=Individual.IndividualId%>">
                           <%=Events[lcv]['EventDescription']%> <%=Events[lcv].DistanceNum%><%=Events[lcv].DistanceUnit%>
                       </a> (<% if (parseInt(Events[lcv].AgeMax)) { %>
                        <%=Events[lcv].AgeMin %>-<%= Events[lcv].AgeMax %> yrs
                        <%} else { %><%=Events[lcv].AgeMin%> & up<%}%>)
                        <% if(Individual.IsAdmin === true) {%>
                            - <a href="/CreateHeat?EventId=<%=Events[lcv].EventId%>">Config Heats</a>
                        <%}%>
                    </span>
                        </div>
                <%} } else {%>
                    <div class="row clearfix">
                    <span class="credit">
                        <p>There are no Events available to be signed up for. How Sad :(</p>
                    </span>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row clearfix">
        <a href="/MeetEvents?IndividualId=<%=Individual.IndividualId%>" class="col_half">
            <img src="/img/triangle-flag-small.png">
        </a>
        <a href="/Home?IndividualId=<%=Individual.IndividualId%>" class="bottom_middle">
            <img src="/img/home-small.png">
        </a>
        <a href="/Login" class="bottom_right">
            <img src="/img/square-new-window-small.png" >
        </a>
    </div>
</div>
</div>
</body>
</html>