<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
  <script src="/scripts/register.js" type="application/javascript"></script>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="bg-image p-5 text-center shadow-2-strong rounded mb-5 text-black"
         style="background-image: url('/img/swim-lanes.gif');" >
      <div class="container-fluid">
        <div class = "row">
          <h2 class="mb-3">
                                      <span class="col-sm-6">
                                      Lakewood Fun Meet:
                                      </span>
            <span class="col-sm-6">
                                           Registration
                                      </span>
          </h2>
        </div>
      </div>
    </div>
    <form id="frmRegister" action="/register" method="post" onsubmit="return submitRegistration();">
      <div class="container-justify-evenly">
        <div class="row justify-content-center">
          <div class="col-auto">
            <p class="d-flex p-2"><a href="/Login">
                Already Registered? Login!
              </a>
            </p>
          </div>
        </div>
        <div class="row justify-content-center mx-2 mb-3" >
          <div class="col-7">
            <div class="form-outline">
              <input id="iFirstName" type="text" name="FirstName" class="form-control" required
                      <% if (typeof PreviousInput !== 'undefined') { %> value="<%=PreviousInput['FirstName']%>" <%}%>
                     data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="First & last name will be used for login and forming teams."/>
              <label class="form-label" for="iFirstName">First Name</label>
            </div>
          </div>
          <div class="col-5">
            <div class="form-outline">
              <input id="iNickName" type="text" name="NickName" class="form-control"
                      <% if (typeof PreviousInput !== 'undefined') { %> value="<%=PreviousInput['NickName']%>" <%}%>
                     data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="A.K.A. is just for fun and will show on circle in and heat sheets." />
              <label class="form-label" for="iNickName">A.K.A. (opt)</label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mx-2 mb-3" >
          <div class="col-9">
            <div class="form-outline">
              <input id="iLastName" type="text" name="LastName" class="form-control" required
                      <% if (typeof PreviousInput !== 'undefined') { %> value="<%=PreviousInput['LastName']%>" <%}%>
                     data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Will be used for login and joining teams." />
              <label class="form-label" for="iLastName">Last Name</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-outline">
              <input id="iAge" type="number" name="Age" min="1" max="90" class="form-control" required
                      <% if (typeof PreviousInput !== 'undefined') { %> value="<%=PreviousInput['Age']%>" <%}%>
                     data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Will be used to qualify swimmers for age-limited events." />
              <label class="form-label" for="iAge">Age</label>
            </div>
          </div>
        </div>
        <hr class="divider-horizontal-blurry" />
        <div class="row justify-content-center mx-2" >
          <div class="col-6">
            <div class="form-outline">
              <input id="iPassword1" type="password" name="Password1" class="form-control" required
                     aria-label="Password" aria-describedby="pwdSpan1" data-mdb-toggle="tooltip" data-mdb-placement="bottom"
                     title="Keep it simple and do not forget. We do NOT currently have the ability to reset easily."/>
              <label class="form-label" for="iPassword1">Password</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-outline">
              <input id="iPassword2" type="password" name="Password2" class="form-control" required
                     aria-label="Password" aria-describedby="pwdSpan2" />
              <label class="form-label" for="iPassword2">Confirm Password</label>
            </div>
          </div>
        </div>
        <hr class="divider-horizontal-blurry" />
        <div class="row justify-content-center mx-2">
          <div class="col-auto">
            <div class="form-outline">
              <input id="iEmail" type="email" name="Email" id="email" class="form-control" required
                      <% if (typeof PreviousInput !== 'undefined') { %> value="<%=PreviousInput['Email']%>" <%}%>
                     aria-label="Email" aria-describedby="emailSpan" data-mdb-toggle="tooltip" data-mdb-placement="bottom"
                     title="Email address does not need to be unique per swimmer. Kids can use their parent's email too. This is just for contact in case we need clarification." />
              <label class="form-label" for="email">Email - example@somewhere.com</label>
            </div>
          </div>
        </div>
        <hr class="divider-horizontal-blurry" />
        <div class="row justify-content-center mx-2 mb-3">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#importantModal">Register</button>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="importantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="importantModalLabel">Important</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h2>Please READ before saving!</h2>
                <ul>
                  <li><b>REMEMBER your password!</b> Keep it simple and/or write it down. The only way to reset will be to start over.</li>
                  <li>Make sure your <b>email is somewhere we can contact you</b> if we need clarification.</li>
                  <li>Make sure <b>Team Captains know how to spell your first & last name.</b> Nickname is just for fun :) </li>
                  <li><b>Age will be used to limit what events you can sign up for</b>, so be accurate.</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Let me rethink those answers...</button>
                <button type="submit" class="btn btn-primary">Got it! All good!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="color: red">
          <% if (typeof RegistrationResult !== 'undefined') {%>
          <p class="credit"><%=RegistrationResult%></p>
          <% } %>
        </div>
      </div>
    </form>
  <%- include('../partials/footer.ejs') %>
</body>
</html>